
h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font: 220% sans-serif;
  color: #2C8AE3;
}

h2 {
  text-align: justify;
  margin-left: 7em;
  color: #000000;
}

h3 {
  text-align: justify;
  margin-left: 9em;
}

/*-----------General-----------*/

#pagina {
  width: 100%;
  margin: 0 auto;
  position: relative;
}


/* -----fuente y color del menu ----- */

.menu {
  color: #b40404;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 16px;
}


/* ----- Color del link (titulo) del menu ----- */

.menu a {
  color: #b40404;
}


/* ----- Color del título del menú al pasar el ratón por encima----- */

.menu a:hover {
  color: #354f83;
}


/* ----------color, fuente tamaño del texto body------------*/

body {
  color: #5e5e5e;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  /*------------reemplazar imagen cuando este en el servidor----------------*/
  background: #e5e2db url("http://dynamic.websimages.com/s/themes/savvy/v1.72/images/simple/bg.png") repeat fixed center 0;
  z-index: 1;
}


/* ---------------------------------- Color de los link en body ------------------------------------------*/

body a {
  color: #3f5b87;
}


/* -------------------------- Color de los link al pasar el ratón en body ----------------------------------*/

body a:hover {
  color: #000000;
}


/* ------------------------------------------ general ----------------------------------------------- */

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  padding: 0 0 20px;
}

.interno {
  width: 950px;
  margin: 0 auto;
  background: #ffffff none repeat fixed center 0;
  -moz-box-shadow: 0 0 5px #555555;
  -webkit-box-shadow: 0 0 5px #555555;
  box-shadow: 0 0 5px #555555;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  top: 8px;
  height: auto;
}

.externo {
  width: 966px;
  margin: 0 auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #c5beaf;
  background: rgba(154, 143, 115, 0.15);
}


/* ---------------------------------- Header ----------------------------------------------*/

header.header {
  width: 100%;
  /*height: 130px;*/
  position: relative;
}


/*.header-area {
  width: 950px;
  height: 130px;
  margin: 0 auto;
  z-index: 1;
  overflow: visible;
	}
.w-header-area {
  min-height: 130px;
	}*/


/* ---------------------------------- Nav y menu ------------------------------------------*/

.cabecera-menu {
  height: 90px;
  position: relative;
  margin: 0 auto 10px;
  width: 966px;
}

.cabecera-menu {
  width: 966px;
}

.interno-cabecera-menu {
  width: 920px;
  height: 74px;
  position: relative;
  margin: 0 auto;
  top: 8px;
  padding: 0 15px;
}

#caja-nav>ul {
  list-style: none;
  position: relative;
  top: 0;
  z-index: 20;
}

#caja-nav>ul>li {
  float: left;
  padding: 15px 15px;
  margin-top: 14px;
  position: relative;
  /* -- Este es el espacio entre dos items del menu -- */
  margin-left: -5px;
}

#caja-nav>ul>li>a {
  display: block;
  text-decoration: none;
}

#caja-nav>ul>li.active,
#caja-nav>ul>li.child-active {
  color: #FFFFFF;
  display: block;
  outline: medium none;
  border: 1px solid #161616;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #4d71b7;
  background-image: -moz-linear-gradient(top, #4d71b7, #354f83);
  background-image: -o-linear-gradient(top, #4d71b7, #354f83);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4d71b7), color-stop(1, #354f83));
  background-image: -webkit-linear-gradient(#4d71b7, #354f83);
  background-image: linear-gradient(top, #4d71b7, #354f83);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d71b7', endColorStr='#354f83');
}

#caja-nav>ul>li.active>a,
#caja-nav>ul>li.child-active>a {
  color: #ffffff;
}


/* ---------------------------------- Main ----------------------------------------------*/

.contenedor {
  min-height: 600px;
  position: relative;
  width: 1200px;
  margin: 0 auto 10px;
  clear: both;
}

.contenido-ancho {
  width: 1200px;
  min-height: 600px;
}

.contenido-ancho-interno {
  min-height: 600px;
  padding: 20px 15px;
  width: 1200px;
}


/* ---------------------------------- Footer ----------------------------------------------*/

footer {
  min-height: 70px;
  background-color: #191919;
  background-image: -moz-linear-gradient(top, #191919, #000000);
  background-image: -o-linear-gradient(top, #191919, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #191919), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(#191919, #000000);
  background-image: linear-gradient(top, #191919, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  width: 100%;
  position: relative;
  clear: both;
  margin-top: 0px;
  padding-top: 0px;
  overflow: visible;
}

.footer {
  border-top: 1px solid #222;
}

.post-footer {
  width: 950px;
  margin:  auto;
  text-align: center;
  margin-top: 10px;
}

.contiene input {
  width: 20%;
  clear: both;
  font: 100% sans-serif;
}

.contiene {
	margin-left: 20em;
	width: 60%;
	font: 140% sans-serif;
}

.boton  {
	margin-left: 15em;
}

.head td{
	height: 500px;
}
.center{
	text-align: center;
}